.logo-dark,
.logo-light {
    position: absolute;
    bottom: -5px;
    right: 0px;
    /* width: 100%; */
    z-index: -1;
}

[data-theme="light"] .logo-dark {
    display: none;
}

[data-theme="dark"] .logo-light {
    display: none;
}

.content-box svg {
    paint-order: stroke fill;
    padding: 0;
    margin: 0;
    width: 100%;
    /* background-color: rgba(81, 21, 21, 0.74); */
}

.starter-title {
    font-size: var(--font_big_title_size);
    line-height: var(--font_big_title_size);
    fill: var(--mine_color);
    stroke: var(--last_color);
    stroke-width: 8px;
}

.status {
    position: relative;
    font-size: var(--font_big_size);
    fill: var(--mine_color);
    stroke: var(--last_color);
    stroke-width: 5px;
}

#status-action {
    font-size: var(--font_medium);
}

#starter-user-id {
    font-family: var(--font-cons);
    font-size: var(--font_size);
}

#starter-version {
    font-size: var(--font_medium);
    fill: var(--last_color);
    font-family: var(--font-cons);
    stroke: var(--mine_color);
    stroke-width: 3px;
}
