.tab-box {
    padding: 30px 20px;
}

#tabs {
    filter: blur(0px);
    transition: filter 0.3s;
}

#carousel-box {
    position: absolute;
    left: 0px;
}

#carousel {
    position: relative;
    left: 0px;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: row;
}

.tab {
    position: relative;
    width: 100px;
    height: 100px;
}

#menu-web {
    position: absolute;
    z-index: 100;
    width: 200px;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: var(--third_from_end_color);
    padding: 10px 20px;
}

.menu-web-item {
    border-radius: 8px;
    width: 160px;
    height: 40px;
    margin-bottom: 10px;
    line-height: 40px;
    text-align: center;
    background-color: var(--penultimate_color);
    cursor: pointer;
}